<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&display=swap" rel="stylesheet">
    <title>Speed Race Admin</title>
</head>
<body>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
    <div class="container-admin">
        <h1>Partie Admin</h1>
        <hr>
        <form action="/admin/ttl" method="POST">
            <div class="reverse-input">
                <input class="input-admin" id="ttl" name="ttl" type="text"/>
                <label for="ttl">TTL de base : </label>
            </div>
            <input class="btn-admin" type="submit" value="Valider"/>
        </form>
        <form action="/admin/target" method="POST">
            <div class="reverse-input">
                <input class="input-admin" id="latitude" name="latitude" step="0.001" type="number"/>
                <label for="latitude">Latitude de la cible : </label>
            </div>
            <div class="reverse-input">
                <input class="input-admin" id="longitude" name="longitude" step="0.001" type="number"/>
                <label for="longitude">Longitude de la cible : </label>
            </div>
            <input class="btn-admin" type="submit" value="Valider"/>
        </form>
        <form action="/admin/start" method="POST">
            <div class="reverse-input">
                <input class="input-admin" id="gameName" name="gameName" type="text"/>
                <label for="gameName">Nom de la partie : </label>
            </div>
            <input class="btn-admin" type="submit" value="Commencer une partie" />
        </form>
        <form action="http://192.168.75.28:8080/users" method="POST" name="create-user" target="dummyframe">
            <div class="reverse-input">
                <input class="input-admin" id="login" name="login" type="text">
                <label for="login">Login de l'utilisateur</label>
            </div>
            <div class="reverse-input">
                <input class="input-admin" id="password" name="password" type="text">
                <label for="password">Password de l'utilisateur</label>
            </div>
            <input class="btn-admin" type="reset" value="Créer l'utilisateur" onclick='document.forms["create-user"].submit()'/>
        </form>
    </div>
    <ul>
        <% errors.forEach(function(error){ %>
            <li><%= error %></li>
        <% }); %>
    </ul>
    <div class="container-admin">
        <h1>Liste des utilisateurs</h1>
        <hr>
        <ul class="list-user">
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="static/js/AjaxRequest.js"></script>
    <script>
        var listUser = null

        function updateUserList() {
            getData("http://192.168.75.28:8080/users")
                .then((response) => {
                    return response.json()
                }).then((json) => {
                    if(JSON.stringify(listUser) != JSON.stringify(json)) {
                        listUser = json
                        document.querySelector(".list-user").innerHTML = ""
                        json.forEach((elem) => {
                            getData(elem)
                                .then((response) => {
                                    return response.json()
                                }).then((json) => {
                                    var li = document.createElement("li")
                                    var name = document.createTextNode(json.login)
                                    var crossBtn = document.createElement("button")
                                    var cross = document.createTextNode("X")
                                    var connectedBox = document.createElement("span")

                                    if(json.connected) connectedBox.classList.add("connected")

                                    crossBtn.addEventListener("click", (e) => {
                                        deleteUser(json.login)
                                    })

                                    crossBtn.appendChild(cross)
                                    li.appendChild(connectedBox)
                                    li.appendChild(name)
                                    li.appendChild(crossBtn)
                                    document.querySelector(".list-user").appendChild(li)
                                })
                        })
                    }
                })
        }

        setInterval(() => {
            updateUserList()
        }, 1000);

        function deleteUser(login) {
            deleteData("http://192.168.75.28:8080/users/" + login)
        }
    </script>

    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(56, 56, 56);
        }

        .container-admin {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: white;
            border-radius: 10px;
            padding: 1rem 3rem;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        }

        h1 {
            font-size: 1.7rem;
            text-transform: uppercase;
            color: rgb(56, 56, 56);
            text-align: center;
        }

        hr {
            width: 80%;
            height: 4px;
            border: none;
            margin-bottom: 2rem;
            background-color: #FFCD00;
        }

        form {
            display: flex;
            align-items: center;
            padding: 1rem;
        }

        .reverse-input {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }

        label {
            color: rgb(56, 56, 56);
            font-size: 1.1rem;
            text-transform: uppercase;
            font-weight: bold;
        }
        
        .input-admin {
            color: black;
            border: solid 2px rgba(56, 56, 56, 0.5);
            border-radius: 10px;
            outline: none;
            padding: 0.5rem 0.5rem;
            margin: 0 1rem;
            font-size: 1.3rem;
        }

        .input-admin:focus-within {
            border-color: #FFCD00;
        }

        .input-admin:focus-within+label {
            color: #FFCD00;
        }

        .btn-admin {
            width: min-content;
            background-color: #FFCD00;
            color: white;
            border: none;
            font-size: 1.2rem;
            outline: none;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        }

        .btn-admin {
            cursor: pointer;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-inline-start: 0;
        }

        li {
            color: rgb(56, 56, 56);
            font-size: 1.3rem;
            list-style: none;
            font-weight: bold;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
            margin: 0 1rem;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            display: flex;
            align-items: center;
        }

        span {
            width: 15px;
            height: 15px;
            border-radius: 50px;
            background-color: red;
            margin-right: 0.5rem;
        }

        span.connected {
            background-color: rgb(43, 145, 34);
        }

        button {
            margin-left: 0.8rem;
            background-color: white;
            border: solid 2px #FFCD00;
            border-radius: 50px;
            font-size: 1.1rem;
            font-weight: bold;
            color: #FFCD00;
            transition: 0.5s;
        }

        button:hover {
            transition: 0.5s;
            transform: rotate(360deg);
            cursor: pointer;
            outline: none;
        }

    </style>
</body>
