
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
<form action="/admin/ttl" method="POST">
    <label for="ttl">TTL de base : </label><input id="ttl" name="ttl" type="text"/>
    <input type="submit" value="Valider"/>
</form>
<form action="/admin/target" method="POST">
    <label for="latitude">Latitude de la cible : </label><input id="latitude" name="latitude" step="0.001" type="number"/>
    <label for="longitude">Longitude de la cible : </label><input id="longitude" name="longitude" step="0.001" type="number"/>
    <input type="submit" value="Valider"/>
</form>
<form action="/admin/start" method="POST">
    <label for="gameName">Nom de la partie : </label><input id="gameName" name="gameName" type="text"/>
    <input type="submit" value="Commencer une partie" />
</form>
<form action="http://192.168.75.28:8080/users" method="POST" name="create-user" target="dummyframe">
    <label for="login">Login de l'utilisateur</label><input id="login" name="login" type="text">
    <label for="password">Password de l'utilisateur</label><input id="password" name="password" type="text">
    <input type="reset" value="Créer l'utilisateur" onclick='document.forms["create-user"].submit()'/>
</form>
<ul>
    <% errors.forEach(function(error){ %>
        <li><%= error %></li>
    <% }); %>
</ul>
<ul class="list-user">
</ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="static/js/AjaxRequest.js"></script>
<script>
    var listUser = null

    function updateUserList() {
        getData("http://192.168.75.28:8080/users")
            .then((response) => {
                return response.json()
            }).then((json) => {
                if(JSON.stringify(listUser) != JSON.stringify(json)) {
                    listUser = json
                    document.querySelector(".list-user").innerHTML = ""
                    json.forEach((elem) => {
                        getData(elem)
                            .then((response) => {
                                return response.json()
                            }).then((json) => {
                                var li = document.createElement("li")
                                var name = document.createTextNode(json.login)
                                var crossBtn = document.createElement("button")
                                var cross = document.createTextNode("X")
                                var isConnected = json.connected

                                crossBtn.addEventListener("click", (e) => {
                                    deleteUser(json.login)
                                })

                                
                                crossBtn.appendChild(cross)
                                li.appendChild(name)
                                li.appendChild(crossBtn)
                                document.querySelector(".list-user").appendChild(li)
                            })
                    })
                }
            })
    }

    setInterval(() => {
        updateUserList()
    }, 1000);

    function deleteUser(login) {
        deleteData("http://192.168.75.28:8080/users/" + login)
    }
</script>
