body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: #FFCD00;
        text-transform: uppercase;
        border: 3px solid #FFCD00;
        padding: 1rem;
        border-radius: 50px;
        font-weight: bold;
    }

    .form-login,
    .form-logout {
        width: 40%;
        .form-example {
            display: flex;
            flex-direction: column;

            label {
                font-size: 1.3rem;
                color: rgb(66, 66, 66);
                font-weight: bold;
            }
            
            input {
                margin: 1rem 0;
                padding: 0 1rem;
                height: 2.5rem;
                border: 2px solid rgb(66, 66, 66);
                border-radius: 50px;
                font-size: 1.3rem;

                &:focus {
                    border-color: #FFCD00;
                    outline: none;
                }
            }
        }
        
        .error-login {
            color: red;
            font-weight: bold;
        }
    }
    
    .btn {
        width: 40%;
        height: 3rem;
        background-color: #FFCD00;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        border: none;
        cursor: pointer;
        border-radius: 50px;
        font-size: 1.3rem;
        border: 2px solid rgb(66, 66, 66);
        margin: 1rem 0;
    }

}